#neba-char{
  background: transparent url(../img/neba-char.png) 0 0 no-repeat;
  position: absolute;
  top: 359px;
  left: 60px;
  width: 261px;
  height: 325px;
}
#neba-char-2{
  background: transparent url(../img/neba-char.png) 0 0 no-repeat;
  position: absolute;
  top: 220px;
  left: 640px;
  width: 261px;
  height: 325px;
}
#neba-char-lv4{
  background: transparent url(../img/neba-char-lv4.png) 0 0 no-repeat;
  position: absolute;
  top: 526px;
  left: 349px;
  width: 185px;
  height: 230px;
}
#iggy-char{
  background: transparent url(../img/iggy-char.png) 0 0 no-repeat;
  position: absolute;
  top: 480px;
  left: 60px;
  width: 184px;
  height: 230px;
}
#iggy-char-2{
  background: transparent url(../img/iggy-char-2.png) 0 0 no-repeat;
  position: absolute;
  top: 140px;
  left: 120px;
  width: 230px;
  height: 399px;
}
#iggy-char-lv4{
  background: transparent url(../img/iggy-char-lv4.png) 0 0 no-repeat;
  position: absolute;
  top: 558px;
  left: 17px;
  width: 154px;
  height: 195px;
}
#purple-char{
  background: transparent url(../img/purple-char.png) 0 0 no-repeat;
  position: absolute;
  top: 480px;
  left: 30px;
  width: 362px;
  height: 250px;
}
#purple-char-2{
  background: transparent url(../img/purple-char.png) 0 0 no-repeat;
  position: absolute;
  top: 300px;
  left: 320px;
  width: 362px;
  height: 250px;
}
#purple-char-lv4{
  background: transparent url(../img/purple-char-lv4.png) 0 0 no-repeat;
  position: absolute;
  top: 564px;
  left: 154px;
  width: 232px;
  height: 147px;
}
#back--button{
  animation-name: bezier;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.games-container{
  animation-name: wiggle-x;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#speech, .drop{
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.numbers{
  animation-name: wiggle-y;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.bkg-stars{
  animation-name: zoom-in;
  animation-duration: 1.5s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;

}
#lv1_item-one, #lv1_item-three, #lv1_item-four, #lv1_item-five, #lv1_item-six{
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#lv1_item-three{
  animation-delay: 0.5s;
}
#lv1_item-four{
  animation-delay: 1s;
}
#lv1_item-five{
  animation-delay: 1.5s;
}
#lv1_item-six{
  animation-delay: 0.25s;
}
// .color{
//   animation-name: hvr-pad;
// }
#thoughts{
  animation-name: zoom-in;
  animation-duration: 1.5s;
  transform-origin: 50% 50%;
  //animation-iteration-count: ;
}
@keyframes zoom-in{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate-round{
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes hvr-pad{
  0% {
    padding:5px;
  }
  100% {
    padding:5px;
  }
}

@keyframes hvr-ripple-out{
  100% {
    top: -12px;
    opacity: 0.2;
  }
}
@keyframes wiggle{
  0% {
    left: 700px;
  }
  50% {
    left: 705px;
  }
  100% {
    left: 700px;
  }
}
@keyframes wiggle-y{
  0% {
    top: 75px;
  }
  50% {
    top: 70px;
  }
  100% {
    top: 75px;
  }
}
@keyframes wiggle-x{
  0% {
    top: 35px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 35px;
  }
}
#numbers{
  animation-name: rotate;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation: rotate 2s infinite alternate;
  transform-origin: 50% 50%;
  transition-duration: 1s;
  animation-play-state: running; 
}
@keyframes rotate{
  0% {
    transform: rotateY(20deg);
    transition-duration: 1s;
    transform-origin: center;
  }
  100% {
    transform: rotateY(-20deg);
    transform-origin: center;
    transition-duration: 1s;
  }
}