body{
	font-family: "Cachet Book";
}
@font-face {
    font-family: Cachet Book;
    font-weight: normal;
    src: url('../../assets/fonts/CachetBook.ttf') format('truetype');
}
a{
	text-decoration: none;
	color: #10243c;
}