@import "base/mixins";
// .ipad-container{
// 	position: relative;
// 	width: 1024px;
// 	height: 768px;
// 	margin: 0 auto;
// 	// background-color: #10243C;	
// 	@include bp-md{
// 		width: 1211px;
// 		height: 873px;
// 		margin: 20px auto;
// 		background-image: url(../img/ipad-border.png);
// 	}
// }
// .container-padding{
// 	@include bp-md{
// 		position: absolute;s
// 		margin-top: 46px;
// 		margin-left: 84px;
// 	}
// }
.parent-home-container{
	position: absolute;
	left: 150px;
	top: 240px;
	z-index: 5;
	.social-container{
		float: left;
		//margin: 0 auto;
	}
	.level-container{
		float: left;
	}
}

.form-container{
	position: absolute;
	top: 28px;
	left: 332px;
	z-index: 5;
}
.gameTwo-container.draggable{
	position: absolute;
	top: 0px;
	left: 500px;
	z-index: 1;
	img{
		padding: 30px;
	}
	.drag-one{

	}
	.drag-two{

	}
	.drag-three{

	} 
	.drag-four{

	}
	.drag-five{
	}
	.drag-one, .drag-two{
		transform: scale(1);
	}
}

.gameTwo-container.droppable{
	position: absolute;
	top: 230px;
	left: 60px;
	// .drop-one, .drop-two, .drop-three, .drop-four, .drop-five{
	// 	position: absolute;
	// }
	// .drop-one, .drop-two{
	// 	position: absolute;
	// 	top: 0;
	// 	left:0;
	// 	width: 80px;
	// 	height: 80px;
	// 	padding: 20px;
	// }
	p{
	 color: white;
	}
}
.ipad-container{
	@include bp-md{
		position: relative;
		width: 1024px;
		height: 768px;
		margin: 0 auto;
		border-top:30px solid black;
		border-bottom:46px solid black;
		border-right:80px solid black;
		border-left:80px solid black;
		border-radius: 25px;
		overflow: hidden;
	}
}
#container{
	// @include bp-md{
	// 	position: absolute;
	// 	top: 46px;
	//     left: 84px;
	// }
}
#draggable { 
	width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
	background-color: #23456d;}
#droppable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
	background-color: #2a556d;
}
#box1{
	width: 100px;
	height: 100px;
	background-color: #aaffdd;
}