.col-one, .col-two, .col-three{
	float: left;
    width: 346px;
    height: 780px;
	border: 1px solid black;
	&:hover{
		background-color: #121212;
		box-shadow: 1px 3px 2px rgba(23,534,23,0.5);
		transform: scale(1.001);
		transition-duration: 1s;
		transform-origin: 50% 50%;
	}
}
// div{
// 	transition: 1s;
// }
.bkg{
	width: 1024px;
}
.parent-bkg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.bkg-color{
	background-color: #10243C;	
}
.bkg-img{
	position: absolute;
	z-index: -1;
}
#pageone{
	background-color: none;
}
#pagetwo{
	background-color: none;
}
.choices{
	position: absolute;
	top: 60px;
	left: 750px;
	//width: 240px;
	.choices--colors{
		float: left;
		width: 240px;
		.color{
			width: 80px;
			padding-right: 37px;
			padding-bottom: 30px;
		}
	}
}
.numbers{
	position: absolute;
	top: 65px;
	left: 410px;
	width: 600px;
	.choices--numbers{
		left: 430px;
		.number{
			height: 80px;
		}
		.number-one{
			padding: 0 180px;
		}
		.number-two{
			height: 70px;
			padding: 5px 85px;
		}
		.number-three{
			height: 90px;
			padding: 0px 55px;
		}
		.number-four{
			height: 110px;
			padding: 5px 35px;
		}
		.number-five{
			height: 80px;
			padding: 5px 0px;
		}
	}
}
#numbers{
	position: absolute;
	top: 140px;
	left: 140px;
	img{
		position: absolute;
		width: 170px;
	}
}
#thoughts{
	position: absolute;
	top: 140px;
	left: 200px;
	img{
		position: absolute;
		width: 150px;
	}
}
