.col-one, .col-two, .col-three{
	float: left;
    width: 346px;
    height: 780px;
	border: 1px solid black;
	&:hover{
		background-color: #121212;
		box-shadow: 1px 3px 2px rgba(23,534,23,0.5);
		transform: scale(1.001);
		transition-duration: 1s;
		transform-origin: 50% 50%;
	}
}
div{
	transition: 1s;
}
.bkg-color{
	background-color: #10243C;	
}
.bkg-img{
	position: absolute;
	// top: 46px;
	// left: 80px;
	z-index: -1;
}
.arrow{
	position: absolute;
	width: 120px;
	height: auto;
	right: 60px;
	bottom: 35px;
	transform-duration: 1s;
	&:hover{
		transform-duration: 1s;
		transform: scale(1.1);
		transform-origin: 50% 50%;
	}
}