video{
	position: absolute;
	top: 0;
	left: 0;
}
#sortable { 
	position: absolute; 
	top: 0px; 
	left: -10px; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	z-index: 1;
}
#border-section{
	position: absolute; 
	left: -12px;
	border: 5px dotted #263751;
	transition-duration: 1s;
	&:hover{
		border: 5px dotted #FFF;
	}
	#border{
		width: 600px;
		height: 100px;
	}
}

#sortable li {
	background: none;
    border: none;
	//margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	//padding-left: 1.5em;
	height: 85px; 
}
.ui-icon{
	background-image: none;
}
//#sortable li span { position: absolute; top: 20px; left: 300px; margin-left: -1.3em; }

#character{
	position: absolute;
	width: 250px;
	top: 350px;
	left: 40px;
}
#speech{
	position: absolute;
	width: 250px;
	top: 80px;
	left: 40px;
}
#ship{
	position: absolute;
	width: 140px;
	left: 840px;
	top: 455px;
	transform: rotateZ(12deg);
}
.bkg-characters{
	position: absolute;
	top: 522px;
	left: 25px;
	transform: rotateZ(5deg);
}
.star-container{
	position: absolute;
    top: 10px;
    width: 190px;
    left: 420px;
    transform: rotateZ(2deg);
    .star-bkg{
    	position: absolute;
    	width: 190px;
    	top:0;
    	left:0;
    }
    .star-one, .star-two, .star-three, .star-four, .star-five{
    	position: absolute;
    	width: 190px;
    	top:0;
    	left:0;
    	transform: scale(0);
    	z-index: 1;
    }
}
#parent-pwd{
	position: absolute;
    top: 259px;
    left: 112px;
    transform: rotateZ(1deg);
    width: 180px;
    height: 27px;
    border-radius: 10px;
    background-color: #f6fbfd;
}
.drop{
	position: absolute;
	top: 0;
	left: 40px
}
.drag{
	position: absolute;
}
#one-pos{
	top: 250px;
}
#two-pos{
	top: 450px;
    left: 200px;
}
#three-pos{
	top: 102px;
    left: 200px;
}
#four-pos{
	top: 400px;
    left: -226px;
}
#five-pos{
    top: 100px;
    left: -224px;
}
.drag-correct{
	position: absolute;
	left: 0px;
}
.invisible{
	display: none;
	z-index: -1;
}
.back--button{
	position: absolute;
	width: 80px;
	top: 10px;
	left: 20px;
}
#forward--button{
	position: absolute;
	width: 80px;
	top: 565px;
	left: 796px;
	&:hover{
		transform: scale(1.2);
	}
}
.thought-bubble{
	position: absolute;
    width: 500px;
    top: 95px;
    left: 30px;
}
.you-win-bkg{
	position: absolute;
	top: 0;
	z-index:2;
}
.games-container{
	position: absolute;
	width: 700px;
	height: auto;
	top: 40px;
	left: 350px;
	img{
	    padding: 25px;
	    width: 230px;
	    height: auto;
	}
}
.bkg-character{
	position: absolute;
    top: 516px;
    width: 300px;
    left: 34px;
    transform: rotateZ(15deg);
}
.gameOne-container{

	.character{
		position: absolute;
		width: 350px;
    	top: 285px;
    	left: 330px;
	}
	.eyes{
		z-index: 1;
    	width: 415px;
	    top: 185px;
	    left: 304px;
    	opacity: 0;
	}
	.nose{
		z-index: 2;
	    width: 30px;
	    top: 368px;
	    left: 480px;
	    opacity: 0;
	}
	.legs{
		width: 250px;
		left: 380px;
    	top: 421px;
		opacity: 0;
	}
	.arms{
		width: 467px;
	    left: 290px;
	    top: 405px;
	    opacity: 0;
	}
	.mouth{
		z-index: 1;
		opacity: 0;
	}
	#item-one{
		position: absolute;
		width: 150px;
    	top: 150px;
    	left: 150px;
	}
	#item-two{
		position: absolute;
		width: 200px;
    	top: 300px;
    	left: 650px;
	}
	#item-three{
		position: absolute;
		width: 180px;
    	top: 265px;
    	left: 741px;
	}
	#item-four{
		position: absolute;
		width: 220px;
    	top: 562px;
    	left: 578px;
	}
	#item-five{
		position: absolute;
		width: 250px;
    	top: 118px;
    	left: 509px;
	}
	#item-six{
		position: absolute;
		width: 250px;
    	top: 500px;
    	left: 50px;
	}
	.opacity{
		opacity:1;
	}
}